<!DOCTYPE html PUBLIC "_//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
		<link rel="StyleSheet" type="text/css" href="../data/index.css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24273066-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	</head>
	<body class="rfclass">
<h1>
	Информация для Авторов</h1>
<p>
	Уважаемый Автор!</p>
<p>
	Журнал издаётся 4 раза на год (ежеквартально). Все материалы, присылаемые для публикации, проходят двухуровневую систему рецензирования: внешнее и внутреннее (тайное) рецензирование. С редакционной политикой нашего журнала можно ознакомиться здесь.</p>
<p>
	Основные тематические разделы (направления) журнала:</p>
<p>
	1. Экономика природопользования и эколого-экономические проблемы.<br />
	2. Инновационные процессы в экономике.<br />
	3. Экономика предприятия и организация производства.<br />
	4. Макроэкономические механизмы.<br />
	5. Научные сообщения.</p>
<p>
	Рукописи в журнал принимаются на постоянной основе на одном из трёх языков: украинском,английском, русском (мы придерживаемся принципа: &laquo;Качество статьи важнее его языка&raquo;).</p>
<p>
	Рекомендуемый объём рукописей, полный перечень необходимых документов для представления приведены в ИНСТРУКЦИИ для авторов международного научного журнала &laquo;Механизм регулирования экономики&raquo;.</p>
<p>
	С целью ускорения процедуры представления, рассмотрения, опубликования рукописи и корректного её оформления рекомендуем использовать специально разработанный шаблон (пример) рукописи (Форма №&nbsp;01) и неуклонно придерживаться всех его требований и элементов форматирования. Текст рукописи следует печатать вместо текста, приведённого для примера в этом шаблоне. Детальные рекомендации и требования относительно оформления рукописей приведены в ИНСТРУКЦИИ для авторов.</p>
<p>
	Порядокпредставления, рассмотрения и опубликования рукописей:</p>
<p>
	1) автор отправляет рукопись электронной почтой для предварительного рассмотрения;<br />
	2) рукопись принимается редколлегией только при условии соответствия её оформления действующим требованиям МОН Украины, ДСТУ и нашего журнала и может быть отклонена или отправлена на доработку в случае несоответствия указанным стандартам и требованиям;<br />
	3) редколлегия направляет рукопись на обязательное независимое (тайное) рецензирование (срок рецензирования &ndash; не более 30 календарных дней, начиная со следующего рабочего дня после даты получения рукописи редакцией журнала);<br />
	4) по результатам рецензирования рукопись может быть:</p>
<p style="margin-left: 40px;">
	(A) принята к публикации;<br />
	(B) возвращена автору для внесения соответствующих корректив, если того требует рецензия (срок доработки рукописи не должен превышать 30 календарных дней, начиная со следующего дня после даты оправки электронной почтой автору рецензии; в случае превышения указанного срока рукопись автоматически считается отклонённой);<br />
	(C) отклонена как не отвечающая действующим требованиям (причины отклонения обязательно указываются в рецензии на рукопись);</p>
<p>
	5) только после окончательного согласования всех вопросов относительно содержания рукописи (например, повторного рецензирования, если предыдущая рецензия этого требовала), она считается принятой к публикации;<br />
	6) автор отправляет все необходимые документы обычной почтой;<br />
	7) редколлегией решается вопрос относительно включения рукописи в соответствующий номер журнала, о чём сообщается автору электронной почтой;<br />
	8) автору сообщается (электронной почтой) о факте получении из типографии тиража журнала;<br />
	9) автору отправляется авторский экземпляр журнала с его рукописью.</p>
<p>
	Данный порядок является обобщённым и ориентировочным, более детальная информация предоставляется авторам по личному запросу электронной почтой в соответствии с условиями публикации.</p>
<p>
	&nbsp;</p>
<p>
	<strong>Загрузить:</strong></p>
<ul>
	<li>
		<a href="content/stories/author/ua/04_guide_line_ukr_v13.07.pdf"><strong>Инструкции </strong>для авторов (pdf)</a>.</li>
	<li>
		<a href="content/stories/author/ua/04_guide_line_ukr_adition.pdf">Перечень приложений (форм) к <strong>инструкции </strong>для авторов (pdf)</a>.</li>
	<li>
		<a href="content/stories/author/ua/Forma01_MER_Doc_Template_ukr_109.doc">Форма № 01 (doc)</a>.</li>
	<li>
		<a href="content/stories/author/ua/Forma01_MER_Doc_Template_ukr_109.pdf">Форма № 01 (pdf)</a>.</li>
	<li>
		<a href="content/stories/author/ua/Forma02_MER_Doc_Abstract_ukr.doc">Форма № 02 (doc)</a>.</li>
	<li>
		<a href="content/stories/author/ua/Forma03_MER_Doc_Abstract_rus.doc">Форма № 03 (doc)</a>.</li>
	<li>
		<a href="content/stories/author/en/Forma04_MER_Doc_Referat_eng.doc">Форма № 04 (doc)</a>.</li>
	<li>
		<a href="content/stories/author/ua/Forma05_MER_Doc_Authors.doc">Форма № 05 (doc)</a>.</li>
	<li>
		<a href="content/stories/author/ua/Forma06_MER_Doc_ReviewFromAuthors_ukr.doc.pdf">Форма № 06 (pdf)</a>.</li>
	<li>
		<a href="content/stories/author/ua/Forma07_MER_Doc_AuthorsAgreement_ukr.pdf">Форма № 07 (pdf)</a>.</li>
	<li>
		<a href="content/stories/author/ru/editorial policy_rus_20130324.pdf">Редакционная политика журнала (pdf)</a>.</li>
</ul>

	</body>
</html>
