<h1>Адрес редакции:</h1>

<p>Д.э.н., проф. Л.Г. Мельник,<br />
Редакция МНЖ «МРЭ» <br />
Кафедра экономики и бизнес-администрирования<br />
Сумский государственный университет<br />
ул. Римского-Корсакова, 2, <br />
г. Сумы, 40007, Украина</p>


<p>E-mail: merjournal@gmail.com</p>

<p>
<strong><em>!!!Внимание!!!</em></strong><br />
<br />
Уважаемые авторы и посетители сайта,<br />
просьба по любым вопросам касательно<br />
<br />
<em>публикации материалов (требований к публикациям, сроков, отклонения или выхода статьи, оплаты экземпляра(-ов) журнала(-ов) и тому подобное)</em><br />
<br />
обращаться электронным письмом на адрес economer@mail.ru.<br />
Редакция по объективным причинам не имеет возможности отвечать на все вопросы по телефону, однако
гарантирует ответ на ваши вопросы электронным письмом в кратчайшие сроки.<br />
<br />
<strong>ПО СЛУЖЕБНЫМ ТЕЛЕФОНАМ КАФЕДРЫ, ИНСТИТУТА, ДЕКАНАТА ФАКУЛЬТЕТА ИЛИ
УНИВЕРСИТЕТА ИНФОРМАЦИЯ ПО ВОПРОСАМ ПУБЛИКАЦИИ МАТЕРИАЛОВ <u>НЕ ПРЕДОСТАВЛЯЕТСЯ</u>!</strong>
</p>
