
<h1>Редакционная коллегия журнала</h1>
<p><em><strong>Мельник Леонид Григорьевич</strong></em>, доктор экономических наук, профессор (СумГУ, ЦЭИ) – Главный редактор;</p>
<p><em><strong>Сабадаш Виктор Владимирович</strong></em>, кандидат экономических наук, доцент (СумГУ, СРО АПМУ) – заместитель Главного редактора;</p>
<p><em><strong>Деревянко Юрий Николаевич</strong></em>, кандидат экономических наук (СумГУ) – заместитель Главного редактора;</p>
<p><em><strong>Маценко Александр Михайлович</strong></em>, кандидат экономических наук (СумГУ) – технический редактор;</p>
<p>&nbsp;</p>
<p><em><strong>Балацкий Олег Фёдорович</strong></em>, доктор экономических наук, профессор (СумГУ);</p>
<p><em><strong>Баллантайн Пол</strong></em>, PhD, профессор (Университет Колорадо Спрингс, США);</p>
<p><em><strong>Бобылёв Сергей Николаевич</strong></em>, доктор экономических наук, профессор (Федеральное государственное образовательное учреждение высшего профессионального образования «Московский государственный университет имени М.В. Ломоносова», г. Москва, Российская Федерация);</p>
<p><em><strong>Боронос Владимир Николаевич</strong></em>, кандидат экономических наук, профессор (СумГУ);</p>
<p><em><strong>Бун Квэси Эммануэль</strong></em>, PhD, профессор (Свободный Университет Брюсселя, Бельгия);</p>
<p><em><strong>Быстряков Игорь Константинович</strong></em>, доктор экономических наук, профессор (Государственное учреждение «Институт экономики природопользования и устойчивого развития НАН Украины», г. Киев);</p>
<p><em><strong>Васильева Татьяна Анатольевна</strong></em>, доктор экономических наук, профессор (Государственное высшее учебное заведение «Украинская академия банковского дела Национального банка Украины», г. Сумы);</p>
<p><em><strong>Галица Игорь Александрович</strong></em>, доктор экономических наук, старший научный сотрудник (Частное высшее учебное заведение «Киевский университет туризма, экономики и права», г. Киев);</p>
<p><em><strong>Гриценко Андрей Андреевич</strong></em>, доктор экономических наук, член-корреспондент НАН Украины (Государственное учреждение «Институт экономики и прогнозирования НАН Украины», г. Киев);</p>
<p><em><strong>Евдокимов Юрий</strong></em>, PhD, профессор (Университет Нью Брансвика, Канада);</p>
<p><em><strong>Ильяшенко Сергей Николаевич</strong></em>, доктор экономических наук, профессор (СумГУ) – заместитель Главного редактора;</p>
<p><em><strong>Каринцева Александра Ивановна</strong></em>, кандидат экономических наук, доцент (СумГУ);</p>
<p><em><strong>Касьяненко Владимир Алексеевич</strong></em>, кандидат экономических наук, доцент (СумГУ);</p>
<p><em><strong>Кислый Владимир Николаевич</strong></em>, кандидат экономических наук, доцент (СумГУ);</p>
<p><em><strong>Козьменко Сергей Николаевич</strong></em>, доктор экономических наук, профессор (Государственное высшее учебное заведение «Украинская академия банковского дела Национального банка Украины», г. Сумы);</p>
<p><em><strong>Кочубей Наталья Васильевна</strong></em>, кандидат философских наук, доцент (Сумский государственный педагогический университет им. А.С. Макаренко);</p>
<p><em><strong>Лапин Евгений Васильевич</strong></em>, доктор экономических наук, профессор (ПАО «ГХК «Титан Украины», г. Киев);</p>
<p><em><strong>Лукаш Ольга Анатольевна</strong></em>, кандидат экономических наук (СумГУ);</p>
<p><em><strong>Минакова Ирина Вячеславна</strong></em>, доктор экономических наук, доцент (Государственное образовательное учреждение высшего профессионального образования «Юго-Западный государственный университет», г. Курск, Российская Федерация);</p>
<p><em><strong>Мишенин Евгений Васильевич</strong></em>, доктор экономических наук, профессор (Сумский национальный аграрный университет);</p>
<p><em><strong>Потравный Иван Михайлович</strong></em>, доктор экономических наук, профессор (Государственное образовательное учреждение высшего профессионального образования «Российская экономическая академия им. Г.В. Плеханова», г. Москва, Российская Федерация);</p>
<p><em><strong>Прокопенко Ольга Владимировна</strong></em>, доктор экономических наук, профессор (СумГУ);</p>
<p><em><strong>Сотник Ирина Николаевна</strong></em>, доктор экономических наук, доцент (СумГУ);</p>
<p><em><strong>Тарасевич Виктор Николаевич</strong></em>, доктор экономических наук, профессор (Национальная металлургическая академия Украины, г. Днепропетровск);</p>
<p><em><strong>Телиженко Александр Михайлович</strong></em>, доктор экономических наук, профессор (СумГУ) – заместитель Главного редактора;</p>
<p><em><strong>Харичков Сергей Константинович</strong></em>, доктор экономических наук, профессор (Институт проблем рынка и экономико-экологических исследований НАН Украины, г. Одесса);</p>
<p><em><strong>Шапочка Николай Константинович</strong></em>, кандидат экономических наук, профессор (СумГУ);</p>
<p><em><strong>Шауер Петр</strong></em>, Csc., профессор (Университет Экономики, г. Прага, Чехия);</p>

<h2>Сотрудники Редакционного отдела журнала:</h2>

<p><em><strong>Горобченко Денис Владимирович</strong></em> (СумГУ);</p>
<p><em><strong>Дегтярёва Ирина Борисовна</strong></em>, кандидат экономических наук (СумГУ);</p>
<p><em><strong>Кубатко Александр Васильевич</strong></em>, кандидат экономических наук (СумГУ);</p>
<p><em><strong>Люлёв Алексей Валентинович</strong></em> (СумГУ).</p>

