<?php $tpl = \mer\base\Templater::instance(); ?>

<h1>Редактировать статью</h1>

<form enctype="multipart/form-data" action="?cmd=add_article" method="post">

	<h2>
		Общая информация о статье
	</h2>

	<p>
	<label for="_language">
		Язык оригинала:
	</label><br />
    
	<input name="_language" id="_language" value="1" type="radio" <?php if ($tpl->get('language') == 'ua') echo "checked=\"checked\"";?> />
		Украинский<br />             
	
	<input name="_language" id="_language" value="2" type="radio" <?php if ($tpl->get('language') == 'en') echo "checked=\"checked\"";?> />
		Английский<br />

	<input name="_language" id="_language" value="3" type="radio" <?php if ($tpl->get('language') == 'ru') echo "checked=\"checked\"";?> />
		Русский<br />
	</p>
	
	<p>
	<label for="_link">
		Файл статьи (pdf)
	</label><br />
	<input name="_link" id="_link" type="file" size="20" accept="pdf" />
	</p>

	<p>
	<label for="pages">
		Страницы
	</label><br />
	<input name="page_from" id="page_from" type="text" size="5" value="<?php echo $tpl->get('page_from'); ?>" /> - 
	<input name="page_to" id="page_to" type="text" size="5" value="<?php echo $tpl->get('page_to'); ?>" />	
	</p>

	
	<hr />
	<h2>
		<br />Украинская версия
	</h2>

	<p>
	<label for="authors_ua">
		Автори статті (через кому):
	</label><br />
	<input name="authors_ua" id="authors_ua" required="required" type="text" size="90" value="<?php echo $tpl->get('authors_ua'); ?>" />
	</p>

	<p>
	<label for="caption_ua">
		Назва статті:
	</label><br />
	<input name="caption_ua" id="caption_ua" required="required" type="text" size="90" value="<?php echo $tpl->get('caption_ua'); ?>" />
	</p>

	<p>
	<label for="annotation_ua">
		Анотація:
	</label><br />
	<textarea rows="5" cols="68" name="annotation_ua" id="annotation_ua" required="required"><?php echo $tpl->get('annotation_ua'); ?></textarea>
	</p>

	<p>
	<label for="keywords_ua">
		Ключові слова (через кому):
	</label><br />
	<input name="keywords_ua" id="keywords_ua" required="required" type="text" size="90" value="<?php echo $tpl->get('keywords_ua'); ?>" />
	</p>

	<p>
	<label for="affiliations_ua">
		Інформація про авторів:
	</label><br />
	<textarea rows="5" cols="68" name="affiliations_ua" id="affiliations_ua"><?php echo $tpl->get('affiliations_ua'); ?></textarea>
	</p>

	<p>
	<label for="_link_ua">
		Додатковий файл статті українською мовою:
	</label><br />
	<input name="_link_ua" id="_link_ua" type="file" />
	</p>


	<hr />
	<h2>
		<br />English version
	</h2>

	<p>
	<label for="authors_en">
		Article authors (exploded by ","):
	</label><br />
	<input name="authors_en" id="authors_en" required="required" type="text" size="90" value="<?php echo $tpl->get('authors_en'); ?>" />
	</p>

	<p>
	<label for="caption_en">
		Article caption:
	</label><br />
	<input name="caption_en" id="caption_en" required="required" type="text" size="90" value="<?php echo $tpl->get('caption_en'); ?>" />
	</p>

	<p>
	<label for="annotation_en">
		Annotation:
	</label><br />
	<textarea rows="5" cols="68" name="annotation_en" id="annotation_en" required="required"><?php echo $tpl->get('annotation_en'); ?></textarea>
	</p>

	<p>
	<label for="keywords_en">
		Key words (exploded by ","):
	</label><br />
	<input name="keywords_en" id="keywords_en" required="required" type="text" size="90" value="<?php echo $tpl->get('keywords_en'); ?>" />
	</p>
	
	<p>
	<label for="affiliations_en">
		Authors affiliations (information about authors):
	</label><br />
	<textarea rows="5" cols="68" name="affiliations_en" id="affiliations_en"><?php echo $tpl->get('affiliations_en'); ?></textarea>
	</p>

	<p>
	<label for="_link_en">
		Additional file of article translated into English:
	</label><br />
	<input name="_link_en" id="_link_en" type="file" />
	</p>

	<hr />
	<h2>
		<br />Русская версия
	</h2>

	<p>
	<label for="authors_ru">
		Авторы статьи (через запятую):
	</label><br />
	<input name="authors_ru" id="authors_ru" required="required" type="text" size="90" value="<?php echo $tpl->get('authors_ru'); ?>" />
	</p>

	<p>
	<label for="caption_ru">
		Название статьи:
	</label><br />
	<input name="caption_ru" id="caption_ru" required="required" type="text" size="90" value="<?php echo $tpl->get('caption_ru'); ?>" />
	</p>

	<p>
	<label for="annotation_ru">
		Аннотация:
	</label><br />
	<textarea rows="5" cols="68" name="annotation_ru" id="annotation_ru" required="required"><?php echo $tpl->get('annotation_ru'); ?></textarea>
	</p>

	<p>
	<label for="keywords_ru">
		Ключевые слова (через запятую):
	</label><br />
	<input name="keywords_ru" id="keywords_ru" required="required" type="text" size="90" value="<?php echo $tpl->get('keywords_ru'); ?>" />
	</p>
	
	<p>
	<label for="affiliations_ru">
		Информация об авторах:
	</label><br />
	<textarea rows="5" cols="68" name="affiliations_ru" id="affiliations_ru"><?php echo $tpl->get('affiliations_ru'); ?></textarea>
	</p>

	<p>
	<label for="_link_ru">
		Дополнительный файл со статьей на русском языке:
	</label><br />
	<input name="_link_ru" id="_link_ru" type="file">
	</p>

	<p><br /><br />
	<input value="<?php if ($tpl->get('action') == 'create') echo 'Добавить статью'; else echo 'Принять изменения'; ?>" type="submit">
	</p>
	
	<input name="action"   id="action"    type="hidden" value="<?php echo $tpl->get('action'); ?>" />
	<input name="id"       id="id"        type="hidden" value="<?php echo $tpl->get('id'); ?>" />
	<input name="number"   id="number"    type="hidden" value="<?php echo $tpl->get('number'); ?>" />
	<input name="issue_id" id="issue_id"  type="hidden" value="<?php echo $tpl->get('issue_id'); ?>" />
	
	<input name="link"    id="link"     type="hidden" value="<?php echo $tpl->get('link'); ?>" />
	<input name="link_ua" id="link_ua"  type="hidden" value="<?php echo $tpl->get('link_ua'); ?>" />
	<input name="link_en" id="link_en"  type="hidden" value="<?php echo $tpl->get('link_en'); ?>" />
	<input name="link_ru" id="link_ru"  type="hidden" value="<?php echo $tpl->get('link_ru'); ?>" />
	
</form>


 <p>
	<a href="<?php echo $_SERVER['HTTP_REFERER']; ?>">Вернуться к редактированию номера</a>
</p>
