<h1>Учредители журнала:</h1>

<table border="0">
<tr><td>Сумский государственный университет (СумГУ), г. Сумы, Украина</td><td>	info@sumdu.edu.ua</td></tr>
<tr><td>Центр экономических исследований (ЦЭИ), г. Сумы, Украина</td><td>	ercentre@mail.ru</td></tr>
<tr><td>Сумское областное общественное объединение "Академия предпринимательства и менеджмента Украины" (СОГО АПМУ), г. Сумы, Украина</td><td>	apmusb@mail.ru</td></tr>
<tr><td>Издательско-торговый дом «Университетская книга», г. Сумы, Украина</td><td>	publish@book.sumy.ua</td></tr>
</table>
