<h1>О нас</h1>

<p>Международный научный журнал "Механизм регулирования экономики" (МНЖ "МРЭ") основан в 1999 году Сумским государственным университетом (СумГУ), Центром экономических исследований (ЦЭИ), Сумским региональным отделением Академии предпринимательства и менеджмента Украины (СРО АПМУ), Издательско-торговым домом "Университетская книга".</p>
<p>Сегодня журнал является одним из ведущих специализированных изданий не только Сумского региона, но и Украины в целом в области экономики, освещающим актуальные вопросы по таким основным направлениям:</p>
<ul>
<li>общеэкономические проблемы функционирования хозяйственных систем;</li>
<li>проблемы деятельности предприятия в переходной и рыночной экономике; </li>
<li>экологические проблемы развития и экономика природопользования; </li>
<li>проблемы и перспективы достижения устойчивого развития; </li>
<li>постиндустриальное общество и проблемы формирования информационного общества. </li>
</ul>
<p>В журнале публикуются ведущие экономисты, экологи и научные специалисты из Австрии, Австралии, Армении, Белоруссии, Бельгии, Великобритании, Ганы, Германии, Италии, Канады, Нидерландов, России, США, Украины, ЮАР.</p>

<p>Журнал включен в список научных специализированных изданий Украины, в которых могут публиковаться результаты диссертационных работ на получение ученой степени доктора и кандидата наук (постановление Президиума Высшей аттестационной комиссии Украины от 10 февраля 2010 года № 1-05/1).</p>

<p><strong><em>Журнал реферируется и индексируется в международных наукометрических базах:</em></strong></p>

<ul>
<li><a href="http://cejsh.icm.edu.pl" target="_blank">Центральноевропейский журнал социальных и гуманитарных наук</a>;</li>
<li><a href="http://www.nbuv.gov.ua/portal/" target="_blank">Реферативная база данных Национальной библиотеки Украины имени&nbsp;В.&nbsp;И.&nbsp;Вернадского</a>.</li>
</ul>

<p>Журнал издается 4 раза в год (ежеквартально). Статьи публикуются на трёх языках: украинском, русском, английском. Подписной почтовый индекс журнала – 37255.</p>

<p>По любым возникшим у Вас вопросам обращайтесь в <a href="contacts.html">Редакцию журнала</a>.</p>