<?php $tpl = \mer\base\Templater::instance(); ?>

<h1>Новости</h1>

<p>&nbsp;</p>

<?php $news = $tpl->get('news'); ?>
<?php foreach ($news as $item) { ?>
	<h2>
		<?php echo $item->get('title_ru'); ?>
	</h2>
	<?php if ($item->get('text_ru') !== '') { ?>
		<p>
			<?php if ($item->get('image') !== '') { ?>
				<a href="<?php echo $item->get('image'); ?>" target="_blank">
					<img alt="" src="<?php echo $item->get('image'); ?>" style="float: left; margin-right: 10px;" />
				</a>
			<?php } ?>
		
			<?php echo $item->get('text_ru'); ?>
		</p>
		<p style="text-align: right;">
			<?php if ($item->get('sign_ru') !== '') { ?>
				<em><?php echo $item->get('sign_ru'); ?></em>
			<?php } ?>
		</p>
		<p style="text-align: right;">
			<?php if ($item->get('date') !== '') { ?>
				<?php echo $item->get('date'); ?>
			<?php } ?>
		</p>
	<?php } ?>
	<hr />
<? } ?>

<?php if ($tpl->get('sizeof') > 1) { ?>
<p><br /><br /><br />
	<?php for($page=1; $page <= $tpl->get('sizeof'); $page++) { ?>
		<a href="?cmd=news&page=<?php echo $page; ?>">[<?php echo $page; ?>]	</a>
	<?php } ?>
</p>
<?php } ?>
