<h1>Информация для рецензента</h1>

<p>Уважаемый Рецензент!</p>

<p>Просим Вас использовать для рецензирования материалов, подаваемых на рассмотрение Редакционной коллегии, специальный бланк (форму).</p>
<p><strong>Загрузить :</strong></p>
<ul>
<li><a href="../data/mer_review_form_rus.pdf">Специальный бланк для рецензирования материалов (pdf)</a>.</li>
<li><a href="../data/mer_review_form_rus.doc">Специальный бланк для рецензирования материалов (doc)</a>.</li>
</ul>


<p>В случае Вашего согласия дать рецензию на материал, просим Вас предоставить рецензию в Редакционную коллегию в течение 20 дней с момента получения Вами копии рукописи в электронном или бумажном варианте.</p>

<p>В случае возможной задержки рецензии просим Вас сообщить об этом в Редакционную коллегию письменно или по электронной почте. В случае возникновения каких-либо вопросов, пожеланий или замечаний, обращайтесь в <a href="contacts.html">Редакцию журнала</a>.</p>

<p>Не забывайте – процедура рецензирования анонимная!</p>
