<!DOCTYPE html PUBLIC "_//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
		<link rel="StyleSheet" type="text/css" href="../data/index.css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24273066-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	</head>
	<body class="rfclass">
<h1>
	For Authors</h1>
<p>
	Dear Authors!</p>
<p>
	The International Scientific Journal &ldquo;Mechanism of Economic Regulation&rdquo; (ISJ &ldquo;MER&rdquo;) is published 4 times per year (quarterly). This Journal follows a double-blind reviewing procedure.The editorial policy of our Journal you can read here.</p>
<p>
	The basic thematic directions (fields) of the Journal are:</p>
<p>
	1. Environmental economics, ecological and economical problems.<br />
	2. Innovative processes in economics.<br />
	3. Economics of enterprise and organization of production.<br />
	4. Macroeconomic mechanisms.<br />
	5. Scientific reports.</p>
<p>
	Manuscripts can be submitted to the Journal on a regular basis in one of three languages: English, Ukrainian or Russian (we follow the principle of &ldquo;Manuscript&#39;s quality is more important than its language&rdquo;).</p>
<p>
	The recommended volume of manuscripts and a complete list of required documents for submission you can find in Guideline for authors of the International scientific journal &ldquo;Mechanism of Economic Regulation&rdquo;.</p>
<p>
	In order to speed up the submission, review, publishing of the manuscript and to make a correct manuscript design we recommend to use a specially designed template (example) of manuscript (Form #01), and steadily follow all of its requirements and formatting. The text of the manuscript should be printed instead of the text in manuscripts template. Detailed recommendations and requirements for the manuscripts you can find in Guideline for authors.</p>
<p>
	Procedure for submission, review and publication of manuscripts:</p>
<p>
	1) the author submits a manuscript by e-mail for prior review;<br />
	2) the manuscript is accepted only if it meet current requirements of Ministry of Education and Science of Ukraine, State Standards of Ukraine and our Journal, and may be rejected or sent back for revision in case of non-compliance with the mentioned above standards and requirements;<br />
	3) the manuscript is sent to peer reviewer (reviewing period &ndash; no more than 30 calendar days from the next business day following the date of receipt of the manuscript);<br />
	4) after reviewing the manuscript may be:</p>
<p style="margin-left: 40px;">
	(A) accepted for publication;<br />
	(B) returned to the author to make the appropriate adjustments, if it is required by the review (the revision period of the manuscript should not exceed 30 calendar days from the day following the date of email with review sent to author. In the case of exceeding the deadline manuscript will automatically be rejected);<br />
	(C) rejected as not meeting the current requirements (reasons for rejection must be indicated in a review of the manuscript);</p>
<p>
	5) only after the final approval of the manuscript (for example, re-review, if it was required by previous review) it is accepted for publication;<br />
	6) author sends all the required documents by post;<br />
	7) Editorial Board includes the manuscript to a certain issue of Journal and informed the author about it by e-mail;<br />
	8) the author informed (by e-mail) about the receipt from typography of Journal circulation;<br />
	9) the author sent a courtesy copy of the journal with his manuscript;</p>
<p>
	This procedure is a generalized and approximate. For more detailed information please send us a personal request by e-mail in accordance with the terms of publishing.</p>
<p>
	&nbsp;</p>
<p>
	<strong>Download:</strong></p>
<ul>
	<li>
		<a href="content/stories/mer_guide_line_eng.pdf">Requirements for Publications (pdf)</a>.</li>
	<li>
		<a href="content/stories/mer_guide_line_eng.rtf">Requirements for Publications (rtf)</a>.</li>
	<li>
		Guideline for Authors (pdf).</li>
	<li>
		The list of applications (forms) of the Guideline for Authors (pdf).</li>
	<li>
		Form #01 (doc).</li>
	<li>
		Form #01 (pdf).</li>
	<li>
		Form #02 (doc).</li>
	<li>
		Form #03 (doc).</li>
	<li>
		Form #04 (doc).</li>
	<li>
		Form #05 (doc).</li>
	<li>
		Form #06 (pdf).</li>
	<li>
		Form #07 (pdf).</li>
	<li>
		<a href="content/stories/author/en/editorial policy_eng_20130324.pdf">The Editorial Policy of the Journal (pdf)</a>.</li>
</ul>
	</body>
</html>
