<h1>Editorial board address:</h1>

<p>Dr., Prof. Leonid Melnyk,<br />
Editorial board ISJ ‘MER’<br />
Department of Economics and Business-Administration<br />
Sumy State University<br />
Rymskogo-Korsakova street, 2, <br />
Sumy, 40007, Ukraine</p>


<p>E-mail: merjournal@gmail.com</p>
<p>
<strong><em>!!!Attention!!!</em></strong><br />
<br />
Dear authors and visitors,<br />
on any questions concerning<br />
<br />
<em>publication of manuscripts (publications requirements, terms, rejection or publication of the article, payments for journal(s) copy(ies) etc.</em><br />
<br />
please send us an e-mail to economer@mail.ru.<br />
Editorial board due to objective reasons does not have the opportunity to answer all questions by phone;
however we guarantee an answer for your request by an email in the shortest terms.<br />
<br />
<strong>ON OFFICE PHONES OF DEPARTMENT, INSTITUTE, DEAN'S OFFICE OF FACULTY OR
UNIVERSITY INFORMATION ABOUT MANUSCRIPT PUBLICATION IS <u>NOT PROVIDED</u>!</strong>
</p>
