<h1>Editorial Board</h1>
<p><em><strong>Leonid Melnyk</strong></em>, doctor of economic sciences, professor (SumSU, ERC) – Editor-in-Chief;</p>
<p><em><strong>Victor Sabadash</strong></em>, candidate of economic sciences, associate professor (SumSU, SRD EMAU) – Deputy Editor-in-Chief;</p>
<p><em><strong>Yuriy Derev’yanko</strong></em>, candidate of economic sciences (SumSU) – Deputy Editor-in-Chief;</p>
<p><em><strong>Olexander Matsenko</strong></em>, candidate of economic sciences (SumSU) – Technical Editor;</p>
<p>&nbsp;</p>
<p><em><strong>Oleg Balatsky</strong></em>, doctor of economic sciences, professor (SumSU);</p>
<p><em><strong>Paul Ballantyne</strong></em>, PhD, professor (University of Colorado at Colorado Springs, USA);</p>
<p><em><strong>Serhey Bobylev</strong></em>, doctor of economic sciences, professor (Federal State Educational Institution of Higher Professional Education ‘M.V. Lomonosov Moscow State University’, Moscow, Russian Federation);</p>
<p><em><strong>Vladimir Boronos</strong></em>, candidate of economic sciences, professor (SumSU);</p>
<p><em><strong>Emmanuel Boon</strong></em>, PhD, professor (Free University of Brussels, Belgium);</p>
<p><em><strong>Igor Bystryakov</strong></em>, doctor of economic sciences, professor (State Institution ‘Institute of Environmental Economics and Sustainable Development of the National Academy of Sciences of Ukraine’, Kyiv);</p>
<p><em><strong>Igor Galitsa</strong></em>, doctor of economic sciences, senior researcher (Private Higher Educational Institution ‘Kyiv University of Tourism, Economics and Law’, Kyiv);</p>
<p><em><strong>Andriy Hrytsenko</strong></em>, doctor of economic sciences (State Institution ‘Institute for Economics and Forecasting, Ukrainian National Academy of Sciences, Kyiv);</p>
<p><em><strong>Serhiy Illyashenko</strong></em>, doctor of economic sciences, professor (SumSU) – Deputy Editor-in-Chief;</p>
<p><em><strong>Olexandra Karintceva</strong></em>, candidate of economic sciences, associate professor (SumSU);</p>
<p><em><strong>Volodymyr Kasyanenko</strong></em>, candidate of economic sciences, associate professor (SumSU);</p>
<p><em><strong>Serhiy Kharichkov</strong></em>, doctor of economic sciences, professor (Institute of Market Problems and Economic & Ecological Research, National Academy of Science of Ukraine, Odessa);</p>
<p><em><strong>Natalia Kochubey</strong></em>, candidate of philosophical sciences, associate professor (A.S. Makarenko Sumy State Pedagogical University);</p>
<p><em><strong>Serhey Kozmenko</strong></em>, doctor of economic sciences, professor (State Higher Educational Institution ‘Ukrainian Academy of Banking of National Bank of Ukraine’, Sumy);</p>
<p><em><strong>Volodymyr Kyslyi</strong></em>, candidate of economic sciences, associate professor (SumSU);</p>
<p><em><strong>Yevheniy Lapin</strong></em>, doctor of economic sciences, professor (PJSC ‘SHC ‘Titan Ukraine’, Kyiv);</p>
<p><em><strong>Olha Lukash</strong></em>, candidate of economic sciences (SumSU);</p>
<p><em><strong>Irina Minakova</strong></em>, doctor of economic sciences, associate professor (State Educational Institution of Higher Professional Education ‘Southwest State University’, Kursk, Russian Federation);</p>
<p><em><strong>Yevheniy Mishenin</strong></em>, doctor of economic sciences, professor (Sumy National Agrarian University);</p>
<p><em><strong>Ivan Potravny</strong></em>, doctor of economic sciences, professor (State Educational Institution of Higher Professional Education ‘H.V. Plehanov Russian Academy of Economics’, Moscow, Russian Federation);</p>
<p><em><strong>Olha Prokopenko</strong></em>, doctor of economic sciences, professor (SumSU);</p>
<p><em><strong>Petr Shauer</strong></em>, Doc. Ing., CSc., associate professor (University of Economics, Prague, Czech Republic);</p>
<p><em><strong>Mykola Shapochka</strong></em>, candidate of economic sciences, professor (SumSU);</p>
<p><em><strong>Iryna Sotnyk</strong></em>, doctor of economic sciences, associate professor (SumSU);</p>
<p><em><strong>Victor Tarasevich</strong></em>, doctor of economic sciences, professor (National Metallurgical Academy of Ukraine, Dnipropetrovsk);</p>
<p><em><strong>Olexander Telizhenko</strong></em>, doctor of economic sciences, professor (SumSU) – Deputy Editor-in-Chief;</p>
<p><em><strong>Tetyana Vasylyeva</strong></em>, doctor of economic sciences, professor (State Higher Educational Institution ‘Ukrainian Academy of Banking of the National Bank of Ukraine’, Sumy);</p>
<p><em><strong>Yuri Yevdokimov</strong></em>, PhD, associate professor (University of New Brunswick, Canada).</p>

<h2>Specialists of the Editorial department:</h2>

<p><em><strong>Iryna Dehtyarova</strong></em>, candidate of economic sciences (SumSU);</p>
<p><em><strong>Denys Gorobchenko</strong></em> (SumSU);</p>
<p><em><strong>Oleksandr Kubatko</strong></em>, candidate of economic sciences (SumSU);</p>
<p><em><strong>Olexiy Lyulyov</strong></em> (SumSU).</p>
