<h1>About Us</h1>


<p>The International Scientific Journal 'Mechanism of Economic Regulation' (ISJ 'MER') is founded in 1999 by the Sumy State University (SumSU), Economic Research Centre (ERC), 	Sumy regional branch of Business and Management Academy of Ukraine (SRB BMAU), Publishing Company "University book".</p>
<p>Today journal is one of the leading specialized issues not only in Sumy region but also in Ukraine in the field of economics. It illuminates actual questions on such basic directions as:</p>
<ul>
<li>general economic problems of the economic systems functioning;</li>
<li>problems of enterprise activity in a market and transition economy; </li>
<li>ecological problems of development and environmental economics; </li>
<li>problems and prospects of sustainable development achievement; </li>
<li>post-industrial society and problems of information society forming. </li>
</ul>
<p>Leading economists, environmentalists and scientific specialists, from Armenia, Australia, Austria, Belarus, Belgium, Canada, Germany, Ghana, Great Britain, Italy, Netherland, RSA, Russian Federation, Ukraine, USA are published in a journal.</p>

<p>Journal is plugged in the list of the scientific specialized editions of Ukraine, the results of dissertation (scientific thesis and papers) on the receipt of doctor and candidate of sciences graduate degree can be published in it (decision of Presidium of the Supreme Certifying Commission of Ukraine from February 10th, 2010, № 1-05/1).</p>

<p><strong><em>Abstracting and Indexing Services:</em></strong></p>
<ul>
<li><a href="http://cejsh.icm.edu.pl" target="_blank">The Central European Journal of Social Sciences and Humanities (CEJSH)</a>;</li>
<li><a href="http://www.nbuv.gov.ua/portal/" target="_blank">Vernadsky National Library of Ukraine</a>.</li>
</ul>

 
<p>Journal is published 4 times per a year (quarterly). The articles are published in three languages: Ukrainian, Russian and English. Subscription journal postcode – 37255.</p>

<p>If you any have questions don’t hesitate to contact <a href="contacts.html">Editorial Board of journal</a>.</p>
