<h1>Information for reviewers</h1>

<p>Dear Reviewer!</p>

<p>We would like to ask you to use special form for reviewing materials presented for reviewing by Editorial board.</p>
<p><strong>Download:</strong></p>
<ul>
<li><a href="../data/mer_review_form_eng.pdf">Special form for reviewing materials (pdf)</a>.</li>
<li><a href="../data/mer_review_form_eng.doc">Special form for reviewing materials (doc)</a>.</li>
</ul>


<p>If you are agree to give a review on the material, we ask you to send a review to Editorial board during 20 days from the moment of receiving by you copy of manuscript in an electronic or hard variant.</p>

<p>In the case of possible delaying of reviewing we ask you to inform Editorial board about it via e-mail or regular mail. In the case of some questions, wishes or remarks please contact <a href="contacts.html">Editorial board</a>.</p>

<p>Please, do not forget, the procedure of reviewing is anonymous!</p>
