<!DOCTYPE html PUBLIC "_//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
		<link rel="StyleSheet" type="text/css" href="../data/index.css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24273066-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	</head>
	<body class="rfclass">
<h1>
	Інформація для Авторів</h1>
<p>
	Шановний Авторе!</p>
<p>
	Журнал видається 4 рази на рік (щокварталу). Усі матеріали, що надсилаються для публікації, проходять дворівневу систему рецензування: зовнішнє та внутрішнє (таємне) рецензування. Із редакційною політикою нашого журналу можна ознайомитися тут.</p>
<p>
	Основні тематичні розділи (напрями) журналу:</p>
<ol>
	<li>
		Економіка природокористування і еколого-економічні проблеми.</li>
	<li>
		Інноваційні процеси в економіці.</li>
	<li>
		Економіка підприємства та організація виробництва.</li>
	<li>
		Макроекономічні механізми.</li>
	<li>
		Наукові повідомлення.</li>
</ol>
<p>
	Рукописи до журналу приймаються на постійній основі однією із трьох мов: українською, англійською, російською (ми дотримуємося принципу: &laquo;Якість статті важливіша її мови&raquo;).</p>
<p>
	Рекомендований обсяг рукописів, повний перелік необхідних документів для подання зазначені у ІНСТРУКЦІЇ для авторів міжнародного наукового журналу &laquo;Механізм регулювання економіки&raquo;.</p>
<p>
	З метою пришвидшення процедури подання, розгляду, опублікування рукопису та коректного його оформлення рекомендуємо використовувати спеціально розроблений шаблон (приклад) рукопису (Форма №&nbsp;01) та неухильно дотримуватися усіх його вимог та елементів форматування. Текст рукопису слід друкувати замість тексту поданого для прикладу у такому шаблоні. Детальні рекомендації та вимоги щодо оформлення рукописів наведено у ІНСТРУКЦІЇ для авторів.</p>
<p>
	Порядокподання, розгляду і опублікування рукописів:</p>
<p style="margin-left: 40px;">
	1) автор надсилає рукопис електронною поштою для попереднього розгляду;<br />
	2) рукопис приймається редколегією тільки за умови відповідності його оформлення чинним вимогам МОН України, ДСТУ та <a href="http://mer.fem.sumdu.edu.ua/ua/author.html">нашого журналу</a> і може бути відхилений чи відправлений на доопрацювання у разі невідповідності зазначеним стандартам і вимогам;<br />
	3) редколегія направляє рукопис на обов&rsquo;язкове незалежне (таємне) рецензування (термінрецензування &ndash; не більше 30 календарних днів, починаючи з наступного робочого дня після дати отримання рукопису редакцією);<br />
	4) за результатами рецензування рукопис може бути:</p>
<p style="margin-left: 80px;">
	(A)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; прийнятий до опублікування;<br />
	(B)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; повернений авторові для внесення відповідних коректив, якщо того вимагає рецензія (термін доопрацювання рукопису не повинен перевищувати 30 календарних днів, починаючи з наступного дня після дати надсилання електронною поштою автору рецензії; у разі перевищення зазначеного терміну рукопис автоматично вважається відхиленим);<br />
	(C)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; відхилений, як такий що не відповідає чинним вимогам (причини відхилення обов&rsquo;язково зазначаються у рецензії на рукопис);</p>
<p style="margin-left: 40px;">
	5) тільки післяостаточного узгодження всіх питань стосовно змісту рукопису (наприклад, повторного рецензування, якщо попередня рецензія цього вимагала), він вважається прийнятим до опублікування;<br />
	6) автор надсилає всі необхідні документи звичайною поштою;<br />
	7) редколегією вирішується питання щодо включення рукопису у відповідний номер журналу, про що повідомляється авторові електронною поштою;<br />
	8) авторові повідомляється (електронною поштою) про факт виходу друком накладу журналу;<br />
	9) авторові надсилається авторський примірник журналу із його рукописом.</p>
<p>
	Даний порядок є узагальненим та орієнтовним, більш детальна інформація надається авторам за особистим запитом електронною поштою відповідно до умов публікації.</p>
<p>
	&nbsp;</p>
<p>
	<strong>Завантажити:</strong></p>
<ul>
	<li>
		<a href="content/stories/author/ua/04_guide_line_ukr_v13.07.pdf"><strong>Інструкції </strong>для авторів (pdf)</a>.</li>
	<li>
		<a href="content/stories/author/ua/04_guide_line_ukr_adition.pdf">Перелік додатків (форм) до <strong>інструкції </strong>для авторів (pdf)</a>.</li>
	<li>
		<a href="content/stories/author/ua/Forma01_MER_Doc_Template_ukr_110.doc">Форма № 01 (doc)</a>.</li>
	<li>
		<a href="content/stories/author/ua/Forma01_MER_Doc_Template_ukr_110.pdf">Форма № 01 (pdf)</a>.</li>
	<li>
		<a href="content/stories/author/ua/Forma02_MER_Doc_Authors_ukr.doc">Форма № 02 (doc)</a>.</li>
	<li>
		<a href="content/stories/author/ua/Forma03_MER_Doc_ReviewFromAuthors_ukr.pdf">Форма № 03 (pdf)</a>.</li>
	<li>
		<a href="content/stories/author/ua/Forma04_MER_Doc_AuthorsAgreement_ukr.pdf">Форма № 04 (pdf)</a>.</li>
	<li>
		<a href="content/stories/author/ua/editorial policy_ukr_20130324.pdf">Редакційна політика журналу (pdf)</a>.</li>
</ul>



	</body>
</html>
