<h1>Адреса редакції:</h1>

<p>Д.е.н., проф. Л.Г. Мельник,<br />
Редакція МНЖ «МРЕ» <br />
Кафедра економіки та бізнес-адміністрування<br />
Сумський державний університет<br />
вул. Римського-Корсакова, 2, <br />
м. Суми, 40007, Україна</p>


<p>E-mail: merjournal@gmail.com</p>

<p>
<strong><em>!!!Увага!!!</em></strong><br />
<br />
Шановні автори та відвідувачі сайту,<br />
прохання з будь-яких питань стосовно<br />
<br />
<em>публікації матеріалів (вимог до публікацій, термінів, відхилення чи виходу статті, оплати примірника(-ів) журналу(-ів) тощо)</em><br />
<br />
звертатися електронним листом на адресу economer@mail.ru.<br />
Редакція з об’єктивних причин не має можливості відповідати на всі запитання телефоном, однак
гарантує відповідь на ваші запитання електронним листом якомога швидше.<br />
<br />
<strong>ЗА РОБОЧИМИ ТЕЛЕФОНАМИ КАФЕДРИ, ІНСТИТУТУ, ДЕКАНАТУ ФАКУЛЬТЕТУ 
ЧИ УНІВЕРСИТЕТУ ІНФОРМАЦІЯ З ПИТАНЬ ПУБЛІКАЦІЇ МАТЕРІАЛІВ <u>НЕ НАДАЄТЬСЯ</u>!</strong>
</p>
