<h1>Редакційна колегія журналу</h1>
<p><em><strong>Мельник Леонід Григорович</strong></em>, доктор економічних наук, професор (СумДУ, ЦЕД) – Головний редактор;</p>
<p><em><strong>Сабадаш Віктор Володимирович</strong></em>, кандидат економічних наук, доцент (СумДУ, СРВ АПМУ) – заступник Головного редактора;</p>
<p><em><strong>Дерев’янко Юрій Миколайович</strong></em>, кандидат економічних наук (СумДУ) – заступник Головного редактора;</p>
<p><em><strong>Маценко Олександр Михайлович</strong></em>, кандидат економічних наук (СумДУ) – технічний редактор;</p>
<p>&nbsp;</p>
<p><em><strong>Балацький Олег Федорович</strong></em>, доктор економічних наук, професор (СумДУ);</p>
<p><em><strong>Баллантайн Пол</strong></em>, PhD, професор (Університет Колорадо Спрінгс, США);</p>
<p><em><strong>Бобильов Сергій Миколайович</strong></em>, доктор економічних наук, професор (Федеральна державна освітня установа вищої професійної освіти «Московський державний університет імені М.В. Ломоносова», м. Москва, Російська Федерація);</p>
<p><em><strong>Боронос Володимир Миколайович</strong></em>, кандидат економічних наук, професор (СумДУ);</p>
<p><em><strong>Бун Квесі Еммануель</strong></em>, PhD, професор (Вільний Університет Брюсселя, Бельгія);</p>
<p><em><strong>Бистряков Ігор Костянтинович</strong></em>, доктор економічних наук, професор (Державна установа «Інститут економіки природокористування та сталого розвитку НАН України», м. Київ);</p>
<p><em><strong>Васильєва Тетяна Анатоліївна</strong></em>, доктор економічних наук, професор (Державний вищий навчальний заклад «Українська академія банківської справи Національного банку України», м. Суми);</p>
<p><em><strong>Галиця Ігор Олександрович</strong></em>, доктор економічних наук, старший науковий співробітник (Приватний вищий навчальний заклад «Київський університет туризму, економіки та права», м. Київ);</p>
<p><em><strong>Гриценко Андрій Андрійович</strong></em>, доктор економічних наук, член-кореспондент НАН України (Державна установа «Інститут економіки та прогнозування НАН України», м. Київ);</p>
<p><em><strong>Євдокимов Юрій</strong></em>, PhD, професор (Університет Нью Брансвіка, Канада);</p>
<p><em><strong>Ілляшенко Сергій Миколайович</strong></em>, доктор економічних наук, професор (СумДУ) – заступник Головного редактора;</p>
<p><em><strong>Карінцева Олександра Іванівна</strong></em>, кандидат економічних наук, доцент (СумДУ);</p>
<p><em><strong>Касьяненко Володимир Олексійович</strong></em>, кандидат економічних наук, доцент (СумДУ);</p>
<p><em><strong>Кислий Володимир Миколайович</strong></em>, кандидат економічних наук, доцент (СумДУ);</p>
<p><em><strong>Козьменко Сергій Миколайович</strong></em>, доктор економічних наук, професор (Державний вищий навчальний заклад «Українська академія банківської справи Національного банку України», м. Суми);</p>
<p><em><strong>Кочубей Наталія Василівна</strong></em>, кандидат філософських наук, доцент (Сумський державний педагогічний університет ім. А.С. Макаренка);</p>
<p><em><strong>Лапін Євген Васильович</strong></em>, доктор економічних наук, професор (ПАТ «ДХК «Титан України», м. Київ);</p>
<p><em><strong>Лукаш Ольга Анатоліївна</strong></em>, кандидат економічних наук (СумДУ);</p>
<p><em><strong>Мінакова Ірина В’ячеславівна</strong></em>, доктор економічних наук, доцент (Державна освітня установа вищої професійної освіти «Південно-Західний державний університет», м. Курськ, Російська Федерація);</p>
<p><em><strong>Мішенін Євген Васильович</strong></em>, доктор економічних наук, професор (Сумський національний аграрний університет);</p>
<p><em><strong>Потравний Іван Михайлович</strong></em>, доктор економічних наук, професор (Державна освітня установа вищої професійної освіти «Російська економічна академія ім. Г.В. Плєханова», м. Москва, Російська Федерація);</p>
<p><em><strong>Прокопенко Ольга Володимирівна</strong></em>, доктор економічних наук, професор (СумДУ);</p>
<p><em><strong>Сотник Ірина Миколаївна</strong></em>, доктор економічних наук, доцент (СумДУ);</p>
<p><em><strong>Тарасевич Віктор Миколайович</strong></em>, доктор економічних наук, професор (Національна металургійна академія України, м. Дніпропетровськ);</p>
<p><em><strong>Теліженко Олександр Михайлович</strong></em>, доктор економічних наук, професор (СумДУ) – заступник Головного редактора;</p>
<p><em><strong>Харічков Сергій Костянтинович</strong></em>, доктор економічних наук, професор (Інститут проблем ринку та економіко-екологічних досліджень НАН України, м. Одеса);</p>
<p><em><strong>Шапочка Микола Костянтинович</strong></em>, кандидат економічних наук, професор (СумДУ);</p>
<p><em><strong>Шауер Петр</strong></em>, CSc., професор (Університет Економіки, м. Прага, Чехія).</p>

<h2>Співробітники Редакційного відділу журналу:</h2>

<p><em><strong>Горобченко Денис Володимирович</strong></em> (СумДУ);</p>
<p><em><strong>Дегтярьова Ірина Борисівна</strong></em>, кандидат економічних наук (СумДУ);</p>
<p><em><strong>Кубатко Олександр Васильович</strong></em>, кандидат економічних наук (СумДУ);</p>
<p><em><strong>Люльов Олексій Валентинович</strong></em> (СумДУ).</p>
