<h1>Засновники журналу:</h1>
<table border="0">
<tr><td>Сумський державний університет (СумДУ), м. Суми, Україна</td><td>	info@sumdu.edu.ua</td></tr>
<tr><td>Центр економічних досліджень (ЦЕД), м. Суми, Україна</td><td>	ercentre@mail.ru</td></tr>
<tr><td>Сумське обласне громадське об'єднання "Академія підприємництва і менеджменту України" (СОГО АПМУ), м. Суми, Україна</td><td>	apmusb@mail.ru</td></tr>
<tr><td>Видавничо-торговий дім «Університетська книга», м. Суми, Україна</td><td>	publish@book.sumy.ua</td></tr>
</table>
