<h1>Про нас</h1>


<p>Мiжнародний науковий журнал "Механiзм регулювання економiки" (МНЖ "МРЕ") засновано 1999 року Сумським державним унiверситетом (СумДУ), Центром економiчних дослiджень (ЦЕД), Сумським регiональним вiддiленням Академiї пiдприємництва i менеджменту України (СРВ АПМУ), видавничо-торговим домом "Унiверситетська книга".</p>
<p>Сьогоднi журнал є одним з провiдних спецiалiзованих видань не тiльки Сумського регiону, але i України в цiлому в областi економiки, що висвiтлює актуальнi питання за такими основними напрямами:</p>
<ul>
<li>загальноекономiчнi проблеми функцiонування господарських систем;</li>
<li>проблеми дiяльностi пiдприємства в перехiднiй i ринковiй економiцi; </li>
<li>екологiчнi проблеми розвитку i економiка природокористування; </li>
<li>проблеми i перспективи досягнення стiйкого розвитку; </li>
<li>постiндустрiальне суспiльство i проблеми формування iнформацiйного суспiльства. </li>
</ul>

<p>В журналi публiкуються провiднi економiсти, екологи i науковi фахiвцi з Австрiї, Австралiї, Вiрменiї, Бiлорусi, Бельгiї, Великобританiї, Гани, Iталiї, Канади, Нiдерландiв, Нiмеччини, ПАР, Росiї, США, України, Швейцарiї.</p>

<p>Журнал включено у список наукових спецiалiзованих видань України, в яких можуть публiкуватися результати дисертацiйних робiт на отримання вченого ступеня доктора i кандидата наук (постанова Президiї Вищої атестацiйної комiсiї України вiд 10 лютого 2010 року № 1-05/1).</p>

<p><strong><em>Журнал реферується та індексується у міжнародних наукометричних базах:</em></strong></p>
<ul>
<li><a href="http://cejsh.icm.edu.pl" target="_blank">Центральноєвропейський журнал соціальних і гуманітарних наук;</a></li>
<li><a href="http://www.nbuv.gov.ua/portal/" target="_blank">Реферативна база даних Національної бібліотеки України імені&nbsp;В.&nbsp;І.&nbsp;Вернадського</a>.</li>
</ul>

<p>Всi матерiали, що надсилаються для публiкацiї проходять дворiвневу систему рецензування: зовнiшнє та внутрiшнє (таємне) рецензування.</p>

<p>Журнал видається 4 рази на рік (щокварталу). Статті публікуються трьома мовами: українською, російською, англійською. Підписний поштовий індекс журналу – 37255.</p>

<p>З будь-яких питань, що у Вас виникають звертайтеся в <a href="contacts.html">Редакцію журналу</a>.</p>

