<h1>Інформація для рецензента</h1>

<p>Шановний Рецензенте!</p>

<p>Просимо Вас використовувати для рецензування матеріалів, які подаються на розгляд Редакційної колегії, спеціальний бланк (форму).</p> 
<p><strong>Завантажити:</strong></p>
<ul>
<li><a href="../data/mer_review_form_ukr.pdf">Cпеціальний бланк для рецензування матеріалів (pdf)</a>.</li>
<li><a href="../data/mer_review_form_ukr.doc">Cпеціальний бланк для рецензування матеріалів  (doc)</a>.</li>
</ul>

<p>У разі Вашої згоди дати рецензію на матеріал, просимо Вас надати рецензію в Редакційну колегію протягом 20 днів з моменту отримання Вами копії рукопису в електронному або паперовому варіанті.</p>

<p>У разі можливої затримки рецензії просимо Вас повідомити про це Редакційну колегію письмово або електронною поштою. У разі виникнення будь-яких запитань, побажань чи зауважень, звертайтеся в <a href="contacts.html">Редакцію журналу</a>.</p>

<p>Не забувайте – процедура рецензування анонімна!</p>
